/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #0b456b, #021c37);
}

/* Main Clock Styles */
.clock {
    width: 500px;
    height: 500px;
    position: relative;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock::before {
    content: '';
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #0ef;
    font-weight: 600;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #0ef;
    border-radius: 50%;
}

.hour-hand,
.minutes-hand,
.second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
}

.hour-hand {
    width: 12px;
    height: 130px;
    background: linear-gradient(#00d9ff, #ee00ff);
}

.minutes-hand {
    width: 10px;
    height: 190px;
    background: linear-gradient(#00d9ff, #ee00ff);
}

.second-hand {
    width: 6px;
    height: 210px;
    background: red;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .clock {
        width: 350px;
        height: 350px;
    }

    .clock::before {
        width: 375px;
        height: 375px;
    }

    .number {
        font-size: 28px;
    }

    .hour-hand {
        height: 90px;
    }

    .minutes-hand {
        height: 130px;
    }

    .second-hand {
        height: 150px;
    }

    .center-dot {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 480px) {
    .clock {
        width: 250px;
        height: 250px;
    }

    .clock::before {
        width: 270px;
        height: 270px;
    }

    .number {
        font-size: 18px;
    }

    .hour-hand {
        height: 70px;
    }

    .minutes-hand {
        height: 100px;
    }

    .second-hand {
        height: 120px;
    }

    .center-dot {
        width: 10px;
        height: 10px;
    }
}
